jupyter_files/
*.ipynb_checkpoints
__pycache__/
*/__pycache__/*
data/word2vec_twitter_model.bin
rundata/*
!rundata/models/
rundata/models/*
!rundata/models/.default/
rundata/models/.default/*
!rundata/models/.default/model.joblib
!rundata/models/.default/scaler.joblib
!rundata/models/.default/tfidf_extractor.joblib

!rundata/models/horizontal/whole/no_undersampling/grid_search_rf.joblib