jupyter_files/
*.ipynb_checkpoints
__pycache__/
*/__pycache__/*
readme_virtenv.txt
data/word2vec_twitter_model.bin
data/rundata/*
!data/rundata/models/
data/rundata/models/*
!data/rundata/models/.default/
data/rundata/models/.default/*
!data/rundata/models/.default/model.joblib
!data/rundata/models/.default/scaler.joblib
!data/rundata/models/.default/tfidf_extractor.joblib
!data/rundata/models/.default/horizontal/
data/rundata/models/.default/horizontal/*
!data/rundata/models/.default/horizontal/model.joblib
!data/rundata/models/.default/horizontal/scaler.joblib
!data/rundata/models/.default/horizontal/tfidf_extractor.joblib
!data/rundata/models/.default/vertical/
data/rundata/models/.default/vertical/*
!data/rundata/models/.default/vertical/model.joblib
!data/rundata/models/.default/vertical/scaler.joblib
!data/rundata/models/.default/vertical/tfidf_extractor.joblib
src/ReddiCompass/test/*
src/ReddiCompass.egg-info/*
dist/*
.gitignore