include README.md
recursive-include src/ReddiCompass/data *

# Exclude dev and build artifacts
recursive-exclude jupyter_files *
recursive-exclude src/ReddiCompass/test *
recursive-exclude */__pycache__ *
recursive-exclude *.ipynb_checkpoints
exclude readme_virtenv.txt
exclude src/ReddiCompass/data/word2vec_twitter_model.bin

# Exclude all of rundata except models/.default and its necessary files
recursive-exclude src/ReddiCompass/data/rundata *
prune src/ReddiCompass/data/rundata

# Re-include only the required model files
include src/ReddiCompass/data/rundata/models/.default/model.joblib
include src/ReddiCompass/data/rundata/models/.default/scaler.joblib
include src/ReddiCompass/data/rundata/models/.default/tfidf_extractor.joblib

include src/ReddiCompass/data/rundata/models/.default/horizontal/model.joblib
include src/ReddiCompass/data/rundata/models/.default/horizontal/scaler.joblib
include src/ReddiCompass/data/rundata/models/.default/horizontal/tfidf_extractor.joblib

include src/ReddiCompass/data/rundata/models/.default/vertical/model.joblib
include src/ReddiCompass/data/rundata/models/.default/vertical/scaler.joblib
include src/ReddiCompass/data/rundata/models/.default/vertical/tfidf_extractor.joblib
