pandas==2.3.1
numpy==1.26.4
scikit-learn==1.6.1
scipy<1.13
eng-spacysentiment
emoji==2.14.1
unidecode
vaderSentiment==3.3.2
emosent-py==0.1.7
nltk==3.9.1
detoxify
textblob==0.19.0
validators==0.35.0
tldextract
pyarrow
gensim
nrclex @ git+https://github.com/stormbeforesunsetbee/NRCLex.git
Pattern @ git+https://github.com/NicolasBizzozzero/pattern@66ab34453a3443c06a4ebda092c8d1947c83b17a
Moral_Foundation_FrameAxis @ git+https://github.com/edoardo-lucini/Moral_Foundation_FrameAxis.git
spacy